* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--first-color: rgb(250, 20, 6);
	--second-color: rgb(210, 199, 190);
	--hover-color: rgb(250, 20, 6);
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	font-family: "Montserrat", sans-serif;
	background-color: #333;
}

.wrapper {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 50px;
	width: 800px;
	background-image: radial-gradient(
		circle,
		rgb(43, 44, 46) 0%,
		rgb(25, 25, 25, 95%)
	);
	border-radius: 5px 5px 10px black;
	color: #fff;
	overflow: hidden;
}

.info i {
	position: absolute;
	font-size: 24px;
	top: 6px;
	padding: 20px;
	color: var(--second-color);
	cursor: pointer;
	transition: color 0.3s;
}

.info .fa-question {
	right: 14px;
}
.info .fa-palette {
	right: 50px;
}

.info i:hover {
	color: var(--first-color);
}

h1 {
	margin-bottom: 20px;
	font-size: 60px;
	font-weight: lighter;
}

.stopwatch {
	font-size: 72px;
	color: var(--first-color);
}

.time {
	visibility: hidden;
	color: var(--second-color);
	font-size: 22px;
}

.buttons {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 30px;
}

button {
	margin: 10px;
	padding: 10px 20px;
	width: 20%;
	color: #000;
	background-color: transparent;
	border: 1px solid var(--first-color);
	cursor: pointer;
	border-radius: 5px;
	transition: background-color 0.3s;
}

.history {
	flex-grow: 1;
	text-transform: uppercase;
}

button:hover,
button:focus {
	background-color: var(--first-color);
	outline: none;
}

.time-list li {
	display: flex;
	justify-content: space-between;
	width: 300px;
	font-size: 22px;
	color: var(--second-color);
}

.time-list span {
	font-weight: bold;
}

.modal-shadow {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.65);
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 600px;
	height: 360px;
	padding: 30px 60px;
	border-radius: 15px;
	background-color: rgb(245, 245, 245);
}

.modal h3 {
	margin-bottom: 20px;
	font-size: 30px;
}

.modal p {
	margin-bottom: 10px;
	margin-left: 20px;
	font-size: 20px;
}

.modal .close {
	display: block;
	margin: 40px auto 0;
	width: 200px;
	background-color: var(--first-color);
	transition: background-color 0.3s;
}

.modal .close:hover {
	background-color: var(--hover-color);
}

@keyframes show-modal {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.colors {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	top: 110px;
	right: -100px;
	width: 60px;
	height: 230px;
	transition: right .3s;
}

.color {
	width: 40px;
	height: 40px;
	border: 2px solid black;
	border-radius: 50%;
	cursor: pointer;
	transition: background-color 0.5s, box-shadow .5s;
}

.show-color {
	transform: translateX(-110px);
}

.one {
	background-color: rgb(47, 141, 212);
}
.two {
	background-color: rgb(33, 188, 44);
}
.three {
	background-color: rgb(215, 215, 37);
}

.one:hover {
	background-color: rgb(12, 126, 213);
	box-shadow: 0 0 8px rgb(12, 126, 213);
}
.two:hover {
	background-color: rgb(5, 163, 16);
	box-shadow: 0 0 8px rgb(5, 163, 16);
}
.three:hover {
	background-color: rgb(191, 191, 7);
	box-shadow: 0 0 8px rgb(191, 191, 7);
}
